html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    #color: white;
    #background-color: #00539f;

  }
body {
    width: 1500px;
    margin: 0 auto;
    background-color: #00539f;
    color: white;
    padding: 0 20px 20px 20px;
    #border: 5px solid black;
  }
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    #color: #00539f;
    #text-shadow: 3px 3px 1px black;
  }
h2 {
    #font-size: 60px;
    text-align: left;
    margin: 10;
    #padding: 0 0 10px 10px;
    #color: #00539f;
    #text-shadow: 3px 3px 1px black;
  }

p, 
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

td, th {
    font-size: 16px;
    border: 1px solid;
    text-align: left;
    padding: 10px;
  }

a {
  font-size: 16px;
  color: white;

}
img {
    display: block;
    margin: 0 auto;
    width: 5%;
    height: 5%;
}

#followme
{
  display: inline;
  width: 50%;
  height: 50%;
  padding: 10px;

}