body
{
  background-color: #121831;
  /* background-image: url('../images/fedora.jpg'); */
  color: white;
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 100px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    /* color: #afafaf; */
    color: white
}
nav {
  font-size: 50px;
  text-align: center;
  width: 100%;
}
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;

}
.self {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
  margin: 25px;
  padding: 20px 20px 20px 20px;
}
.experience {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: left;
  margin: 25px;
  padding: 20px 20px 20px 20px;
}
.achievements {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: left;
  margin: 25px;
  padding: 20px 20px 20px 20px;
}
.certifications {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
  padding: 20px 20px 20px 20px;

}
.stack-category {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
  margin: 25px;
  padding: 20px 20px 20px 20px;
  text-decoration: underline;
}
.techstack {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
}
a:link {
  color: #ffa500;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #6a5acd;
}